* {
    margin: 0;
    padding: 0
}
.herder {
    width: 60%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.one {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    background: orangered;
    float: left;
}
.one>img{
    width: 100%;
}
.two {
    margin-top: 5px;
    position: relative;
}
.two>img{
    width: 100%;
}
.fot {
    float: left;
    height: 40px; 
    line-height: 20px;
    margin-left: 20px;
}
.fot>span {
    font-size: 20px;
}
.fot>p{
    font-size: 1px;
}
.div1 {
    position: absolute;
    height: 90%;
    width: 20%;
    background: #fff;
    border: 3px solid aliceblue;
    left: 60%;
    top: 3.5%;
}
.login{
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
.ativan {
    color: #f56600;
}
.phone {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: ;
    box-sizing: border-box;
}
.phone>input {
    width: 100%;
    padding: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e0e0e0;
    margin-top: 7%;
    box-sizing: border-box;
}
.phone>button {
    background: #f56600;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    border: none;
    margin-top: 7%;
}
.register {
    margin-top: 7%;
    text-align: center;
}
.footer{
    width: 352px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.ico {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.ico>a {
    text-decoration: none;
    color: gray;
    font-size: 23px;
    margin-left: 20px;
}
.ter {
    margin-top: 150px;
    text-align: center;
    font-size: 12px;
}
.ter>a {
    text-decoration: none;
    color:black;
}
.end {
    text-align: center;
    font-size: 12px;
}