*{margin: 0;padding: 0}
.logo{
    height: 70px;
    background: #1ABEBF url("../images/logo.png") no-repeat center;
}
.top{
    line-height: 40px;
    height: 40px;
    width: 1000px;
    text-align: center;
    background: pink;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;color:#333;
}
.top a{
    /* margin-top: 60px; */
    margin: 30px 30px;
    font-size: 20px;
}
.start{float: left;overflow:hidden}
.end{float: right;overflow:hidden}
.start>.icon{
    display: block;
    width: 19px;
    height: 19px;
    background:url("../images/location.png");;
    position: absolute;
    top:50%;
    margin-top: -10px;
}
.start>.first{margin-left:30px;}
.start,.end{position:relative}
.end>.icon{
    top:50%;
    margin-top:-10px;
    position:absolute;width:19px;height:19px;background:url("../images/adm.png")
}
.end>.adm{
    padding-left:20px;
}
.start,.end{font-size: 12px;cursor:pointer}


.content{
    width: 1000px;
    text-align: center;
    background: rgb(193, 230, 245);
    margin-left: auto;
    margin-right: auto;
}
.crumb{text-align: left;margin-top: 20px;margin-bottom: 20px}

.header>span{
    color: #1ABEBF;
    margin-right: 15px;
}
.body span{
    margin-left: 15px;
    margin-right: 15px;
}
.header{float: left;overflow:hidden}
.body{float: left;overflow:hidden}
.row{overflow:hidden;margin-top: 10px}
.body:hover{border-color: #FEB02C}